<div >
    <div >
        <div >

            <h2>Editar {{title}}</h2>
            <hr>


            <form action="/movies/{{_id}}" method="POST">
                <div >
                    <label for="title" class="label">Título</label>
                    <input type="text" class="control" id="title" name="title" value="{{title}}">
                </div>

                <div >
                    <label for="genre" class="label">Genero</label>
                    <input type="text" class="control" id="genre" name="genre" value="{{genre}}">
                </div>
                <div >
                    <label for="plot" class="label">Trama</label>
                    <input type="text" class="control" id="plot" name="plot" value="{{plot}}">
                </div>

                {{!-- <div class="mb-3">
                    <label for="author" class="form-label">Autor/a</label>
                    <input type="text" class="form-control" id="author" name="author" value="{{author}}">
                </div> --}}

                <div >
                    <label for="author" class="form-label">Autor/a</label>
                    <select class="form-select" name="author" id="author">
                        <option>Seleccionar...</option>
                        <option value="ID_DEL_AUTOR_1">Nombre del autor 1</option>
                        <option value="ID_DEL_AUTOR_2">Nombre del autor 2</option>
                        <option value="ID_DEL_AUTOR_3">Nombre del autor 3</option>
                        <option value="ID_DEL_AUTOR_4">Nombre del autor 4</option>
                        <option value="ID_DEL_AUTOR_5">Nombre del autor 5</option>
                    </select>
                </div>

                <input type="hidden" name="movie_id" value="{{id}}">

                <div >
                    <button type="submit" class="btn">Guardar edición</button>
                </div>

            </form>
        </div>
    </div>
</div>